/*=============================================================
              BUTTONS
==============================================================*/

input[type="button"],
input[type="reset"],
input[type="submit"] {
 line-height: 1.0 !important;
}

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
 @include button;
 font-family: $btn-font;
 font-weight: 700;
 text-transform: uppercase;
 @include font-size(14);
 line-height: 1.0;
 padding: 10px 20px;
 border: 0;
 color: $btn-color; 
 background-color: $btn-bg;
 @include border-radius (0px);
 @include transition;

 &:hover, &:focus, &:active {
  border: 1px solid $btn-hover-border;
  border: 0;
  color: $btn-hover-color;
  background-color: $btn-hover-bg;
 }

}

.btn {

 h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
 }

}

.btn.btn-alert {
 background: $alert-color;

 &:hover, &:active {
  background: #f36b70;
 }

}

.btn.btn-dead {
 color: #ccc;
 border: 1px solid $input-border; 
 background: $input-border;
 cursor: default;

 &:hover, &:focus {
  color: #ccc;
  border: 1px solid $input-border; 
  background: $input-border;  
 }

}

.btn.btn-hover {
 color: $btn-color;
 border: 1px solid $btn-hover-bg; 
 background: $btn-hover-bg;

 &:hover, &:focus {
  color: $btn-color;
  border: 1px solid $btn-bg; 
  background: $btn-bg;  
 }

}

.btn.delete {
 color: $btn-color;
 border: 1px solid $error-color; 
 background: $error-color;

 &:hover, &:focus {
  color: $btn-color;
  border: 1px solid $heading-color; 
  background: $heading-color;  
 }

}

.btn + .btn, .btn + .btn-dead, .btn-dead + .btn {
 margin-left: 15px;
}

input[type="submit"] {
 width: auto;
 height: 2.5em;
 line-height: 2.5em;
 padding-top: 0;
 padding-bottom: 0;
 // text-align: center;
}