/*=============================================================
              GLOBALS
==============================================================*/

.clearfix {
 @include clearfix;
}

/* Text meant only for screen readers */
.assistive-text {
 clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
 clip: rect(1px, 1px, 1px, 1px);
 position: absolute !important;
}

table {
 width: 100%;
 background-color: transparent;
 border-collapse: collapse;
 border-spacing: 0; 
}

/* Text & Element Alignment
==============================================================*/

.left    { text-align: left; }
.center  { text-align: center; }
.right   { text-align: right; }
.justify { text-align: justify; }

.alignleft {
 display: inline;
 float: left;
}

.alignright {
 display: inline;
 float: right;
}

.aligncenter {
 @include center-block;
}

.last {
 padding-right: 0 !important;
 margin-right: 0 !important;
}

/* Hover Effects 
==============================================================*/

a .overlay {
 display: block;
 position: absolute;
 z-index: 1;
 top: 0; 
 left: 0;
 width: 100%; 
 height: 100%;  
 @include opacity(0);
 @include black-overlay(0.5);
 @include transition;
}

a:hover .overlay, a:active .overlay {
 @include opacity(1);
}

.play-button {
 position: absolute;
 z-index: 200;
 top: 50%; 
 left: 50%;
 @include transition; 
 font-family: $arrrows;
 color: $light-text;
 @include black-overlay(0.85);
 text-align: center;
 width: $play + px;
 height: $play + px;
 margin-top: (-$play/2) + px;
 margin-left: (-$play/2) + px;
 @include border-radius( ($play/2 ) + px ); 
 line-height: $play + px; 
 @include font-size($play - 20); 

 @include breakpoint(mobile) { 
  width: $play-mobile + px;
  height: $play-mobile + px;
  margin-top: (-$play-mobile/2) + px;
  margin-left: (-$play-mobile/2) + px;
  @include border-radius( ($play-mobile/2 ) + px ); 
  line-height: $play-mobile + px; 
  @include font-size($play-mobile - 16); 
 }

}

a:hover .play-button, a:active .play-button {
 background: $link-color;
}

/* Visibility
==============================================================*/

.hide                             { display: none !important; visibility: hidden; }

.mobile {
 @include breakpoint(tablet)      { display: none !important; visibility: hidden; }
 @include breakpoint(tablet-land) { display: none !important; visibility: hidden; } 
 @include breakpoint(desktop)     { display: none !important; visibility: hidden; }
}

.not-mobile {
 @include breakpoint(mobile)      { display: none !important; visibility: hidden; }
 @include breakpoint(mobile-land) { display: none !important; visibility: hidden; }
}

.tablet {
 @include breakpoint(mobile)      { display: none !important; visibility: hidden; }
 @include breakpoint(mobile-land) { display: none !important; visibility: hidden; }
 @include breakpoint(tablet-land) { display: none !important; visibility: hidden; } 
 @include breakpoint(desktop)     { display: none !important; visibility: hidden; } 
}

.not-tablet {
 @include breakpoint(tablet)      { display: none !important; visibility: hidden; }
}

.pc {
 @include breakpoint(mobile)      { display: none !important; visibility: hidden; }
 @include breakpoint(mobile-land) { display: none !important; visibility: hidden; }
 @include breakpoint(tablet)      { display: none !important; visibility: hidden; }
}

.not-pc {
 @include breakpoint(tablet-land) { display: none !important; visibility: hidden; } 
 @include breakpoint(desktop)     { display: none !important; visibility: hidden; }  
}

.not-desktop {
 @include breakpoint(desktop)     { display: none !important; visibility: hidden; }
}

.hidden {
 // @include translate3d(0,-100%,0);
 visibility: hidden;
 opacity: 0;
 max-height: 0;
 overflow-y: hidden;
 @include transition( all, 0.3s, ease );
}

.reveal {
 // @include translate3d(0,0,0);
 visibility: visible;
 opacity: 1;
 max-height: none;
}

.visible {
 visibility: visible;
 opacity: 1;
 @include transition(all, 0.3s, ease);
}

.invisible {
 visibility: hidden !important;
 opacity: 0 !important;
 display: none !important;
}

/* MixItUp jQuery filter
==============================================================*/

#Grid {
 min-height: 1200px;
}

#Grid .mix {
 opacity: 0;
 display: none;
}

.filter {
 cursor: pointer;
}

.filter.active a {
 color: $body-color;
}

/* Absolute Center
==============================================================*/

// Auto height

.center-container {
 position: relative;
 width: 100%;
 z-index: 2;

 &.is-table {
  display: table;
 }

}

.is-table .table-cell {
 display: table-cell;
 vertical-align: middle;
}

.is-table .center-block {
 width: 100%;
 margin: 0 auto;
 position: relative;
}

// Fixed Height

.center-container-fixed {
 position: relative;
 height: 100%;
}

.absolute-center {
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;
 width: 53px;
 height: 106px;
 overflow: auto;
 margin: auto;
}

/* Media Containers 
==============================================================*/

// Responsive Embedded Video

.video-container {
 position: relative;
 padding-bottom: 56.25%;
 height: 0;
 overflow: hidden;

 iframe, object, embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 }

}

// Embedded iFrames, Objects, Embeds
// The size has been customized for the Google Maps embed right now 

.embed-container {
 position: relative;
 z-index: 2500;
 max-width: 100%;
 overflow: hidden;
 height: 400px;

 iframe, object, embed { 
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1800px;
  height: 400px;
  margin-left: -900px;
  margin-top: -200px;  
 }

}

/* bxSlider Slider
==============================================================*/

.bx-loading {
 min-height: 50px;
 background: url(img/bx_loader.gif) center center no-repeat rgb(229, 227, 223);
 height: 100%;
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}

.bx-wrapper {
 position: relative;
 *zoom: 1; 

 .bx-viewport {}

 .bx-pager, .bx-controls-auto {
  position: absolute;
  z-index: 9999;
  bottom: 0;
  width: 100%;

  .bx-pager-item, .bx-controls-auto-item {
   display: inline-block;
   *zoom: 1;
   *display: inline;
  }

 }

 .bx-pager {
  font-size: 10px;
  padding: 0;
  bottom: 10px;
  left: 0;
  text-align: center;
  color: $link-color;  

  &.bx-default-pager a {
   text-align: left;
   text-indent: -9999px;
   display: block;
   width: 10px;
   height: 10px;
   margin: 0 5px;
   outline: 0;
   @include border-radius(5px);
   background: $light-text; 
   &:hover { background: $link-color; }
   &.active { background: $link-color; }   
  }

 }
 
 .bx-controls {
  z-index: 9999;
 }

 .bx-prev {
  text-align: left;
  left: 15px;
  @include breakpoint(tablet)     { left: 0px; }
 }

 .bx-next {
  text-align: right;
  right: 15px;
  @include breakpoint(tablet)     { right: 0px; }  
 }  

 .bx-controls-direction a {
  position: absolute;
  z-index: 9999;
  top: 50%;
  outline: 0;
  margin-top: -40px;
  font-family: $arrrows;
  @include font-size(80);
  line-height: 1.0;
  color: $light-text;
  &:hover, &:active { color: $link-color; }   
  
  &.disabled {
   display: none;
  }

 }

}