/*=============================================================
              SITE HEADERS
==============================================================*/

.site-centered {
 // position: relative;
 // float: left;
 // width: 100%;
 position: absolute;
 z-index: 1;
 top: 0;
 left: 0;
 width: 100%;
 height: $hdr-ht-desktop;
 @include breakpoint(tablet)      { height: $hdr-ht-tablet; }

 .container {
  @include breakpoint(tablet)      { width: 100%; }
 }
 
}

.site-left {
 position: relative;
 z-index: 1;
 float: left;
 width: 100%;
 height: $hdr-ht-desktop;
 @include breakpoint(tablet)      { height: $hdr-ht-tablet; }
}

.header-nav {
 height: $hdr-ht-desktop; 
 line-height: $hdr-ht-desktop;
 // text-align: center;
 @include breakpoint(tablet)      { height: $hdr-ht-tablet; line-height: $hdr-ht-tablet; }

 ul {
  @include inline-block;

  li {
   position: relative;
   @include inline-block;
   @include font-size($header-size);
   @include breakpoint(tablet)           { @include font-size(15); }

   a { 
    display: block;
    height: 100%;
    color: $heading-color;
    &:hover, &:active { color: $link-color; }
   }

  }

 }

 h1.logo {
  @include inline-block;
  @include font-size($header-size);

  a {
   display: block;
   height: 100%;
  }

 }

}

.site-centered {

 .header-nav {
  text-align: center;

  ul li {
   padding: 0 1.8em;
   @include breakpoint(tablet-land)      { padding: 0 1.4em; }   
   @include breakpoint(tablet)           { padding: 0 1.2em; }    
  }

 }

}

.site-left {

 .header-nav {
  text-align: left;

  ul li {
   padding: 0 1.8em 0 0;
   @include breakpoint(tablet-land)      { padding: 0 1.4em 0 0; }   
   @include breakpoint(tablet)           { padding: 0 1.2em 0 0; }    
  }

 }

}

.scroll-bar, .scroll-bar-site, .mobile-site-header {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 10000;
 width: 100%;
 opacity: 0;
 visibility: hidden;
 @include transition( all, 0.3s, ease );

 &.scrolling {
  opacity: 1;
  visibility: visible;
 }

}

.site-header-scroll {
 height: $hdr-ht-scroll; 
 @include black-overlay(0.75);

 .header-nav {
  height: $hdr-ht-scroll; 
  line-height: $hdr-ht-scroll;

  a { 
   color: $light-text; 
   &:hover, &:active { color: $link-color; }
  }

 }

}