/*=============================================================
              MENU CSS
==============================================================*/

.menu-main {
 position: relative;
 left: 0;
 z-index: 1;
 height: 100%;
 margin-right: 320px;
 @include breakpoint(tablet-land) { margin-right: 280px; }
 @include breakpoint(tablet)      { margin-right: 0; }
 @include breakpoint(mobile-both) { margin-right: 0; }
}

.menu-container {
 position: relative;
 float: left;
 width: 100%;
 background: #fff;
 padding: 20px 25px 100px;
 @include breakpoint(tablet-land) { padding: 20px 25px 100px; }
 @include breakpoint(tablet)      { padding: 75px 3% 100px; }
 @include breakpoint(mobile-land) { padding: 64px 5% 100px; }
 @include breakpoint(mobile)      { padding: 64px 5% 100px; }
}

.menu-sidebar { 
 position: absolute;
 top: 0;
 right: 0;
 z-index: 2;
 height: 100%;
 background: $bg-color-2;
 width: 320px;
 @include breakpoint(tablet-land) { width: 280px; }
 @include breakpoint(tablet)      { width: 0; }
 @include breakpoint(mobile-both) { width: 0; }
}

.menu-footer {
 position: absolute;
 bottom: 0;
 padding-bottom: 30px;
 @include breakpoint(tablet-max) { text-align: center; }

 p { 
  @include font-size($size-x-small);
  margin: 0;
 }

}

/* Menu Section
==============================================================*/

.et-wrapper, .et-page {
 float: left;
 width: 100%; 
 padding: 0;
}

.et-wrapper {
 min-height: 1000px;
}

/* Menu Items & Options
==============================================================*/

.container-parent-category {
 margin-top: -80px;
 padding-top: 80px;
 @include breakpoint(tablet-both) { margin-top: -($hdr-ht-tablet + 25px); padding-top: ($hdr-ht-mobile + 25px); }
 @include breakpoint(mobile-both) { margin-top: -($hdr-ht-mobile + 0px); padding-top: ($hdr-ht-mobile + 0px); }
 
 .olo-wizard & {
  @include breakpoint(tablet-land-max) { margin-top: 0; padding-top: 0; }
 }

}

.order-parent-category, .order-child-category {
 float: left;
 width: 100%;
 margin-bottom: 3%;
 @include breakpoint(mobile-both) { margin-bottom: 15px; }

 img {
  width: 111.11111%;
  max-width: 200%;
  margin-left: -5.55555%;
  margin-bottom: 15px;
 }

 h2 {
  margin-bottom: 5px;
  @include breakpoint(mobile-both) { @include font-size(28); text-align: center; margin: 14px 0 12px; }
 }

 h3 {
  margin-bottom: 5px;
  @include breakpoint(mobile-both) { @include font-size(26); text-align: center; margin-bottom: 0; }
 }

 p { 
  line-height: 1.2;
  padding-top: 3px;
  @include breakpoint(mobile-both) { line-height: 1.4; padding: 0; text-align: center; }
 }

}

.order-menu-items {
 margin: 0 -1.5% 1.5%;

 > li {
  width: 33.33333%;
  padding: 0 1.5% 3%;
  @include breakpoint(tablet-land) { width: 33.33333%; }
  @include breakpoint(tablet)      { width: 33.33333%; }
  @include breakpoint(mobile-land) { width: 100%; padding-bottom: 5px; }
  @include breakpoint(mobile)      { width: 100%; padding-bottom: 5px; }

  &:last-child {
   @include breakpoint(mobile-both) { margin-bottom: 20px; }
  }

  a {
   display: block;
   width: 100%;
   height: 100%;
  }

  &.odd {
   @include breakpoint(mobile-land) { clear: both; }
  }

  &.first {
   clear: both;
   @include breakpoint(tablet)      { clear: both; }
   @include breakpoint(tablet)      { clear: both; }
   @include breakpoint(mobile-land) { clear: none; }
   @include breakpoint(mobile)      { clear: none; }
  }

  // p {
  //  line-height: 1.5;
  // }

 }

}

.option-items { 
 margin-bottom: 2.5%;

  > li {
  @include breakpoint(mobile-both) { padding-bottom: 15px; }
 }

}

.menu-item {

 a { 
  @include breakpoint(mobile-both) {
   @include clearfix;
   position: relative;
   z-index: 10;
   padding: 12px 10px 10px;
   color: $light-text;
   background: rgba(46, 199, 116, 0.5);
   background: $link-color;
  }
 }

}

.menu-item-name {
 @include font-size($size);
 line-height: 1.3;
 color: $link-color;
 margin-bottom: 3px;
 @include breakpoint(tablet)      { @include font-size($size-small); }
 @include breakpoint(mobile-both) { float: left; width: 75%; color: $light-text; }
}

.option-name {
 @include font-size($size);
 line-height: 1.3;
 text-align: center;
 color: $link-color;
 margin-bottom: 0px;
 @include breakpoint(mobile-both) { 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
 }
}

.menu-item-image {
 position: relative;
 z-index: 1;
 margin: 0 0 10px;

 .overlay {
  z-index: 2;
  background: rgba(255, 255, 255, 0.3);
 }

 // img { margin-top: 2px; }

}

.option-image {
 @extend .menu-item-image;

 &:hover, &:active { .overlay { @include opacity(0); } }

}

.menu-item-desc, .menu-item-meta {
 @include font-size($size-x-small);
 margin-bottom: 2px;
 color: $body-color;
}

.menu-item-meta {
 font-style: italic;
 color: $error-color;
}

.menu-item-price {
 color: $heading-color;
 @include breakpoint(mobile-both) { float: left; width: 25%; text-align: right; color: $light-text; line-height: 1.3; }
}

.option-price {
 color: $heading-color;
 text-align: center;
 @include font-size($size-small);
}

.option-name a, .option-price { 
 @include breakpoint(mobile-both) {
  @include black-overlay(0.5);
  color: $light-text;
  padding: 5px 0;
 }
}

.option-item {
 @include breakpoint(mobile-both) { position: relative; }

 .option-label {
  cursor: pointer;
  position: relative;
  // z-index: 1;
  display: block;
  width: 100%;
  margin-bottom: 0;
  @include breakpoint(mobile-land) {
   height: 100px;
   background: center bottom no-repeat scroll rgba(0, 0, 0, 0.5);
   @include bg-size(auto 110%);
  }
  @include breakpoint(mobile) {
   height: 100px;
   background: center bottom no-repeat scroll rgba(0, 0, 0, 0.5);
   @include bg-size(auto 110%);
  }

  .option-adjust {
   display: none;
  }

 }

 .option-adjust {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 37px;
  @include breakpoint(mobile-both) { top: 0; bottom: auto; }
 }

 .option-quantity, .option-delete {
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  background: #fff;
  background: rgba(255, 255, 255, 0.85);
  line-height: 37px;
  @include breakpoint(mobile-both) { @include black-overlay(0.5); }
 }

 .option-quantity {
  float: left;
  margin: 0 0 2px 2px;
  @include font-size(24);
  color: $heading-color;  
  font-weight: bold;
  @include breakpoint(mobile-both) { color: $light-text; margin: 2px 0 0 2px; }
 }

 .option-delete {
  float: right;
  margin: 0 2px 2px 0;
  @include font-size(18);
  color: $error-color;
  @include breakpoint(mobile-both) { margin: 2px 2px 0 0; }

  &:hover, &:active { 
   @include breakpoint(desktop)     { background: $error-color; color: $light-text; }
   @include breakpoint(tablet-land) { background: $error-color; color: $light-text; }
  }

 }

}

/* Nutrition & Ingredients
==============================================================*/

.nutrition-facts, .ingredients {
 width: 100%;
 // border: 2px solid $heading-color;
 // padding: 5px;

 h4, h5 { 
  margin-bottom: 6px !important;
  margin-left: -1px !important; 
 }

 p { 
  @include font-size($size-x-small);
  line-height: 1.6;
 }

 ul {
  margin-bottom: 20px;

  li {
   line-height: 1.1;
   margin-bottom: 6px;
   // border-bottom: 1px solid $heading-color;
   color: $heading-color;
   @include font-size($size-x-small);
   @include clearfix;  

   span {
    float: right;
   }

   span.nutri-bold { 
    float: left;
    font-weight: bold;
    color: $heading-color;
   }

   &.nutri-indent { margin-left: 8%; }

   &.nutri-line-heavy, &.nutri-line-medium, &.nutri-line-light {
    display: block;
    width: 100%;
    height: 6px;
    background: $heading-color;
   }

   &.nutri-line-heavy {
    height: 12px;
   }

   &.nutri-line-light {
    height: 2px;
   }

  }

 }

}

/* Allergen Filter
==============================================================*/

.allergen-trigger {
 cursor: pointer;
 color: $link-color; 
 &:hover, &:active { color: $heading-color; }
 @include breakpoint(mobile-both) { float: left; }
} 

.allergen-filter {
 position: relative;
 float: left;
 width: 100%;
 max-height: 0;
 margin: 0;
 padding: 0 15px;
 text-align: center;
 line-height: 1.0 !important;
 background: $bg-color-2;
 @include black-overlay(0.75);
 @include transition(all, 0.3s, ease);

 .allergen-close {
  position: absolute;
  top: 5px;
  right: -4px;
  width: 25px;
  height: 25px;
  border: 0;
  @include font-size(16);
  line-height: 18px;
  text-align: right;
  color: $alert-color;
  background: none;
  opacity: 0;
  visibility: hidden;
  @include breakpoint(tablet-land) { top: auto; bottom: 10px; right: 8px; }
  @include breakpoint(tablet)      { top: auto; bottom: 10px; right: 8px; }
  @include breakpoint(mobile-both) { top: auto; bottom: 10px; right: 13px; }
 }

 &.filter-open {
  opacity: 1;
  max-height: none;
  // margin-top: 10px;
  padding-top: 15px;

  .allergen-close {
   opacity: 1;
   visibility: visible;
  }

  .allergen-intro {
   height: auto;
   margin-bottom: 15px;
   opacity: 1;
  }

  ul.grid { 
   opacity: 1; 
   height: auto;
  
   > li { display: block; }

  }

 }

 .allergen-intro {
  width: 100%;
  text-align: center;
  height: 0;
  margin-bottom: 0;
  opacity: 0;  
 }

 ul.grid {
  opacity: 0;
  height: 0;
  margin: 0;
  @include breakpoint(tablet-land) { margin: 0 -2%; }
  @include breakpoint(tablet)      { margin: 0 -2%; }
  @include breakpoint(mobile-land) { margin: 0 -2%; }
  @include breakpoint(mobile)      { margin: 0 -2%; }

  > li {
   display: none;
   padding: 0 0% 15px;
   width: 12.5%;
   @include breakpoint(tablet-land) { width: 25%; padding: 0 2% 15px; }   
   @include breakpoint(tablet)      { width: 25%; padding: 0 2% 15px; }
   @include breakpoint(mobile-land) { width: 25%; padding: 0 2% 15px; }
   @include breakpoint(mobile)      { width: 50%; padding: 0 2% 15px; }
   
  }

 }

 p { 
  float: left;
  color: $light-text;
  @include font-size($size-x-small);
  @include breakpoint(tablet)      { @include font-size($size-small); padding-top: 2px; }
  @include breakpoint(mobile-both) { @include font-size($size-small); padding-top: 3px; }
 }

 .checkbox-label-box {
  margin-bottom: 0;
  border: 1px solid $light-text;
  background: none;
 }

 .checkbox-label-tick {
  border: 3px solid $alert-color;
  border-top: none;
  border-right: none;  
 }

 input[type=checkbox]:checked + .checkbox-label {
  
  .checkbox-label-tick {
   opacity: 1;
  }
 
 }

}

.mobile-layout .allergen-filter {
 @include black-overlay(0.75);
 margin: 0;

 p { color: $light-text; }

}

/* Allerges / Allergen Filter
==============================================================*/

.order-menu-items > li .allergen-highlight {

 &.menu-item a {
  @include breakpoint(mobile-both) { background-color: $alert-color; }
 }

 .menu-item-name, .option-name a {
  color: $alert-color;
  font-weight: bold;
  @include breakpoint(mobile-both) { color: $heading-color; font-weight: normal; }
 }

 .option-name a {
  @include breakpoint(mobile-both) { background: rgba(255, 50, 50, 0.65); }
 }

 .menu-item-image .overlay {
  @include opacity(1);
  background: rgba(255, 50, 50, 0.65);
 }

 .menu-item-price {
  @include breakpoint(mobile-both) { color: $heading-color; }
 }

}