/*=============================================================
              SECTIONS
==============================================================*/

section { 
 position: relative;
 float: left;
 width: 100%;
 padding: 60px 0;
 @include breakpoint(tablet)      { padding: 50px 0px; }
 @include breakpoint(mobile-both) { padding: 30px 0px; }

 &.no-padding {
  padding: 0;
 }

}

.section-group {
 float: left;
 width: 100%;
 @include padtop(60);
 @include martop(-60);
 @include breakpoint(mobile-both) { padding: 0; margin: 0; }
}

.section-title {
 float: left;
 width: 100%;
 // @extend .mega;
 padding: 3% 0;
 margin: 0;
 text-align: center;
 background: $bg-color-2;
}

.section-break {
 float: left;
 width: 100%;
 padding-bottom: 5px;
 border-bottom: 1px solid $line-color;
 margin: 5px 0 20px;
 
 h5, p { @include inline-block; }

 h5 { 
  margin: 0 10px 0 0;
 }

 p {
  color: $input-comment;
 }

}

/* Background Image Sections
==============================================================*/

%bg-img {
 background-repeat: no-repeat;
 background-position: center center;
 background-color: $bg-color-2; 
}

.bg-img {
 @extend %bg-img; 
 background-attachment: scroll; 
}

.bg-img_cover {
 @extend %bg-img;
 @include bg-size(cover);     
 background-attachment: fixed;
 // @include breakpoint(tablet-land) { @include bg-size(cover);     background-attachment: fixed; }
 // @include breakpoint(desktop)     { @include bg-size(cover);     background-attachment: fixed; }  
}

.bg-img_full-width {
 @extend %bg-img; 
 @include bg-size(100% auto); 
 background-attachment: scroll;
 @include breakpoint(mobile)      { @include bg-size(150% auto); }
}

.bg-img_full-height {
 @extend %bg-img; 
 @include bg-size(auto 100%); 
 background-attachment: scroll;
}

%bg-img_height {
 height: 450px;
 @include breakpoint(mobile)      { height: 100px; }
 @include breakpoint(mobile-land) { height: 200px; }
 @include breakpoint(tablet)      { height: 300px; }
 @include breakpoint(tablet-land) { height: 380px; } 
}

.bg-img_msg-container {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 9999;

 .center-container {
  @extend %bg-img_height;
  text-align: center;
 }

 h1 { @include font-size($tera); @include breakpoint(mobile-both) { @include font-size(48); } }
 h2 { @include font-size($giga); @include breakpoint(mobile-both) { @include font-size(40); } }
 h3 { @include font-size($mega); @include breakpoint(mobile-both) { @include font-size(32); } } 

}

.bg-img_cover,
.bg-img_full-width,
.bg-img_msg-container {
 
 h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: $light-text;
  line-height: 1.2;
 }

 h1, h2, h3, h4, h5, h6, p {
  // text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
 }

}

.bg-img_msg-overlay {
 padding: 40px 0;
 background: #fff;
 background: rgba(255, 255, 255, 0.75);
 text-align: center;

 h1 { 
  color: $heading-color;
  text-shadow: none;
  @include font-size(96);
  @include breakpoint(mobile-land) { @include font-size(64); }
  @include breakpoint(mobile)      { @include font-size(48); }
 }

 p {
  color: $heading-color;
  text-shadow: none;
 } 

}

%bg-img_container {
 position: relative;
 z-index: 0;
 padding: 0;
 background: $bg-color-2;
}

.bg-img_section {
 @extend %bg-img_container;
 @extend %bg-img_height;

 .bg-img, .bg-img_cover, .bg-img_full-width, .bg-img_full-height {
  @extend %bg-img_height;
 }

}

.bg-img_full-page {
 @extend %bg-img_container;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%; 
 height: 100%;

 .bg-img_msg-container, 
 .center-container, 
 .bx-wrapper, 
 .bx-viewport,
 .bx-viewport > ul,
 .bx-viewport > ul > li {
  height: 100% !important;
 }

 .bx-controls { display: none; }

 .bg-img_full-width, .bg-img_cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
 }

}

/* Page Title
==============================================================*/

.page-title {
 padding: 35px 0;
 @include breakpoint(mobile-land) { padding: 40px 0; }
 @include breakpoint(mobile)      { padding: 25px 0; }

 h1, h2, h3 {
  color: $blue;
  line-height: 1.2;
 }

 h1 {
  @include font-size(36);
  @include breakpoint(tablet)      { @include font-size(36); }
  @include breakpoint(mobile-both) { @include font-size(30); }
 }

 p { 
  @include font-size(17);
  margin-top: 3px;
 }

 a {
  font-weight: 700;
 } 

}

.page-quote {
 @include font-size(25);
 font-style: italic;
 hyphens: manual;
 @include breakpoint(mobile-both) { @include font-size(22); }
}

/* Content Sections
==============================================================*/

.section-content {
 padding: 0 0 80px;
}

.content, .sidebar-section {  

 h1, h2, h3, h4, h5, h6 {
  color: $blue;
  margin-bottom: 12px;
  line-height: 1.3;

  a {
   color: $blue;
   &:hover, &:active { color: $blue-light; }
  }

 }

 p {
  // @include font-size(15);
  margin-bottom: 13px;

  a {
   font-weight: 700;
  }

 }

 .big-text {  
  line-height: 1.4;
  margin-bottom: 20px;
  @include font-size($size-big);
  @include breakpoint(mobile-both) { @include font-size(18); }
 }

 .small-text {
  @include font-size(12);
 }

 ul, ol { 
  margin-left: 1em; 
  margin-bottom: 15px;

  &.no-bullets {
   list-style: none outside;
   margin-left: 0;
  }

  li {
   // @include font-size(15);
   margin-bottom: 15px;
  }

 }

 ul {
  list-style: disc outside;
 }

 ol {
  list-style: decimal;
 }

 h1, h2, h3, h4, h5, h6, p, ul, ol {
  &:last-child { margin-bottom: 0; }
 } 

}

.article {

 p +, ul +, ol + {

  h1, h2, h3, h4, h5, h6 {
   margin-top: 30px;
  }

 }

 .p-indent {
  margin-left: 50px;
 }

}

.content {

 + .content {
  margin-top: 2.5%;
 }

 .content-full & {
  width: 100%;
  margin: 0 auto;  
 }

 .content-center & {
  width: 70%;
  margin: 0 auto;
  @include breakpoint(tablet)      { width: 85%; margin-bottom: 40px; }
  @include breakpoint(mobile-both) { width: 100%; margin-bottom: 25px; }
 }

 .content-left &, .content-right & {
  width: 60%;
  @include breakpoint(tablet)      { width: 100%; margin-bottom: 40px; }
  @include breakpoint(mobile-both) { width: 100%; margin-bottom: 25px; }
 }

 .content-left & {
  float: left;
  margin-right: 10%;
 }

 .content-right & {
  float: right;
  margin-left: 10%;
 }

}

.sidebar {
 float: left;
 width: 30%;
 @include breakpoint(tablet)      { width: 100%; }
 @include breakpoint(mobile-both) { width: 100%; } 
}

.sidebar-title {
 font-family: $sub-heading-font;
 margin-bottom: 25px;
 color: #626366;
}

.sidebar-section {
 float: left;
 width: 100%;
 margin-bottom: 15px;

 h4 {
  font-family: $sub-heading-font;
  font-weight: 500;
  @include font-size(16);
  color: $blue;
  margin-bottom: 3px;
 }

 p, ul li {
  // @include font-size(18);
 }

 ul li {
  margin-bottom: 2px;
 }

 ul.project-tags {
  list-style: none outside;
  margin: 6px 0 0 0;

  li {
   float: left;
   font-family: $sub-heading-font;
   font-weight: 500;
   @include font-size(11);
   padding: 3px 5px;
   margin: 0 4px 6px 0;
   background: $blue;
   color: #fff;
   text-transform: uppercase;
  }

 } 

}



