/*=============================================================
              TYPOGRAPHY
==============================================================*/

// Remove text-shadow in selection highlight: h5bp.com/i
// These selection rule sets have to be separate.

::-moz-selection {
 background: $highlight;
 color: $highlight-text; 
 text-shadow: none;
}

::selection {
 background: $highlight;
 color: $highlight-text;
 text-shadow: none;
}

body,
button,
input,
select,
textarea, 
small {
 font-family: $body-font;
 @include font-size($size);
 line-height: $line-height;
 color: $body-color;
 font-weight: normal;
 font-style: normal; 
 font-size-adjust: auto;
}

a {
 text-decoration: none;
 outline: 0 !important;
 color: $link-color;
 @include transition; 

 &:hover { color: $link-hover; }
 &:active { color: $link-hover; }

}

// .light-text { 
 
//  body,
//  button,
//  input,
//  select,
//  textarea, 
//  small,
//  label, 
//  a { color: $light-text; }
//  a:hover, a:focus { color: $light-hover; @include opacity(0.5); }
//  a.btn:hover, a.btn:focus { color: $light-text; }

// }

// styles for all headings
%hN {
 font-family: $heading-font;
 color: $heading-color;
 font-weight: 400;
 font-style: normal; 
 line-height: 1.0;
 margin: 0;
 text-rendering: optimizeLegibility; // voodoo to enable ligatures and kerning 
}

.tera    { @include font-size($tera);    }
.giga    { @include font-size($giga);    }
.mega    { @include font-size($mega);    }
.alpha   { @include font-size($alpha);   }
.beta    { @include font-size($beta);    }
.gamma   { @include font-size($gamma);   }
.delta   { @include font-size($delta);   }
.epsilon { @include font-size($epsilon); }
.zeta    { @include font-size($zeta);    }

// associate h1-h6 tags with their appropriate greek heading
h1 {
 @extend .alpha;
 @extend %hN;
}

h2 {
 @extend .beta;
 @extend %hN;
}

h3 {
 @extend .gamma;
 @extend %hN;
}

h4 {
 @extend .delta;
 @extend %hN;
}

h5 {
 @extend .epsilon;
 @extend %hN;
}

h6 {
 @extend .zeta;
 @extend %hN;
}

@media only screen and (max-width: $bp-mobile-land) {

 .tera    { @include font-size(0.5 * $tera);     }
 .giga    { @include font-size(0.5 * $giga);     }
 .mega    { @include font-size(0.5 * $mega);     }
 .alpha   { @include font-size(0.6 * $alpha);    }
 .beta    { @include font-size(0.6 * $beta);     }
 .gamma   { @include font-size(0.7 * $gamma);    }
 .delta   { @include font-size(1.0 * $delta);    }
 .epsilon { @include font-size(1.0 * $epsilon);  }
 .zeta    { @include font-size(1.0 * $zeta);     }

}

@media only screen and (max-width: $bp-tablet)     {

 .tera    { @include font-size(0.75 * $tera);    }
 .giga    { @include font-size(0.75 * $giga);    }
 .mega    { @include font-size(0.75 * $mega);    }
 .alpha   { @include font-size(0.8 * $alpha);    }
 .beta    { @include font-size(0.8 * $beta);     }
 .gamma   { @include font-size(0.9 * $gamma);    }
 .delta   { @include font-size(0.95 * $delta);    }
 .epsilon { @include font-size(1.0 * $epsilon);  }
 .zeta    { @include font-size(1.0 * $zeta);     }

}

// Apply heading link properties to headings within links 
h1, h2, h3, h4, h5, h6 {
 a { color: $heading-color; }
 a:hover, a:active { color: $link-color; }
}

a { 
 h1, h2, h3, h4, h5, h6 { color: $heading-color; @include transition; }
 &:hover, &:active { h1, h2, h3, h4, h5, h6 { color: $link-color; } }
}

p {
 margin: 0;
}

.bold   { font-weight: bold; }
.italic { font-style: italic; }
.black  { color: $heading-color; }

.light-font { 
 font-family: $body-font;
 font-weight: 300;
 font-style: normal;
}

.big-text   { @include font-size($size-big); }

.text-truncate { @include text-truncate; }

.arrrows    { font-family: $arrrows; }
.interface  { font-family: $interface; }
p span.interface { margin: 0 5px; }
.social     { font-family: $social; }

.heavy-font { font-family: 'Source Sans Pro Black', Helvetica, Arial, sans serif; }
.small-font { @include font-size($size-x-small); }

.delete {
 color: $error-color;
 &:hover, &:active { color: $heading-color; }
}

.error { color: $error-color !important; }
.alert { color: $alert-color !important; }
.valid { color: $valid-color !important; }
.invalid { color: $invalid-color !important; }
