@font-face {
  font-family: 'Glober Black';
  src: url('Fontfabric - GloberBlack.eot'); /* IE9 Compat Modes */
  src: url('Fontfabric - GloberBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fontfabric - GloberBlack.woff') format('woff'), /* Modern Browsers */
       url('Fontfabric - GloberBlack.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Fontfabric - GloberBlack.svg#f0257e669528eadb2be167ed167f608c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

